<footer>
  <nav class="navbar fixed-bottom navbar-light" style="background-color: #e5cfba;"> 
    <div class="container-fluid;">
    <p class="navbar-brand" href="#">&copy;2022 All rights reserved.</p>
    </div>
  </nav>
</footer>