<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<div class="photo2">
  <img src="/images/marielar1.jpg" alt="photo2" />
</div>


<div>
  <h1 style="color:#2d1b70; font: size 15px;margin-top:90px; margin-left: 100px;"> Hi, my name is Mariela</h1>
</div>

<br>
<div>
<h2 style="color:hsl(298, 57%, 21%); font-style: comicsans; font: size 80px;margin-left: 100px;">Welcome to my personal profile</h2>
</div>

<br>
<h3 style="color:hsl(254, 11%, 30%); font: size 80px;margin-left: 100px;">First, I want to tell you two important things about me:</h3>
<br>
<h4 style="color:hsl(251, 63%, 17%); font: size 80px;margin-left: 100px;">I love technology and I am passionate about knowing new cultures and people.</h4>
<br>
<h4 style="color:hsl(244, 93%, 28%); font-style: verdana; font: size 80px;margin-left: 100px;">Doing things with passion, made you unstoppable!</h4>
<br>
<br>
  <p style="margin-left: 100px;">
   <a class="aboutlink" href="/about" target="_self">Check out more about me!</a>
   <b>
    <b>
   <a class="button" href="/about" target="_self">Next</a>
</p> 
     



<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

